{% extends 'core/base.html' %}
{% load static %}
{% block title %}Visítanos{% endblock  %}


{% block content %}
{% for store in stores %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">{{store.title}}</span>
            <span class="section-heading-lower">{{store.subtitle}}</span>
          </h2>
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
              {{store.dia}}
              <span class="ml-auto">{{store.horario}}</span>
            </li>
          </ul>
          
          <p class="address mb-5">
            <em>
              <strong>{{store.direccion}}</strong>
              <br>
              {{store.localidad}}
            </em>
          </p>
          <p class="mb-0">
            <small>
              <em>{{store.despedida}}</em>
            </small>
            <br>
            {{store.tel}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}

{% endblock %}